@import 'tailwindcss';
@import 'tw-animate-css';
@import './tailwind-theme.css';

@layer base {
  * {
    scrollbar-width: thin;
  }
  html {
    @apply overflow-x-hidden;
  }
  body {
    @apply min-h-screen w-full bg-background text-foreground;
    margin: 0;
  }
}
